<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.user == current_user %>
  <%= link_to 'Editar', edit_article_path(@article) %> |
  <%= link_to 'Excluir', @article, method: :delete, data: { confirm: "Tem certeza?" } %>
<% end %>

<h2>Comments</h2>
<%= render @article.comments %>

<% if user_signed_in? %>
	<h2>Add a comment:</h2>
	<%= render "comments/form", article: @article %>

<% end %>
<%= link_to 'Voltar Inicio', root_path, class: 'button' %>
